<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Image Board</title>
        <link rel="stylesheet" href="style.css" />
        <style></style>
    </head>
    <body>
        <main id="main">
            <header>
                <h1 @click="toggleImageMenu" id="addBtn" class="button">+</h1>
                <h1>imageBoard</h1>
                <div>
                    <h3 v-if:="!user.id" id="logMenu"><span @click="toggleLoginMenu" class="button">Log in</span> / <span @click="toggleRegistrationMenu" class="button">Sign up</span></h3>
                    <div v-if:="user.id" id="userMiniDiv">
                        <img v-bind:src="user.picture" id="headerUserPicture" alt="user picture" />
                        <h3 v-if:="user.id">{{ user.username }} <span @click="logOut" class="button">Log out</span></h3>
                    </div>
                </div>

                <!-- LOGIN MENU -->
                <div v-if="loginMenu" id="overlay">
                    <div id="registrationMenu">
                        <h4 @click="toggleLoginMenu" id="xBtn">X</h4>
                        <form id="form" action="/login" method="post" enctype="multipart/form-data">
                            <input v-model="user.email" type="email" name="email" placeholder="Email" required />
                            <input v-model="user.password" type="password" name="password" placeholder="Password" required />
                            <input type="button" value="Log in" @click="logIn" />
                        </form>
                    </div>
                </div>

                <!-- REGISTRATION MENU -->
                <div v-if="registrationMenu" id="overlay">
                    <div id="registrationMenu">
                        <h4 @click="toggleRegistrationMenu" id="xBtn">X</h4>
                        <img id="picture" src="./assets/add-image.png" alt="picture preview" />
                        <form id="form" action="/registration" method="post" enctype="multipart/form-data">
                            <input @change="setPicture" type="file" name="picture" required />

                            <input v-model="user.username" type="text" name="username" placeholder="User name" required />
                            <input v-model="user.email" type="email" name="email" placeholder="Email" required />
                            <input v-model="user.password" type="password" name="password" placeholder="Password" required />
                            <input type="button" value="Sign In" @click="signIn" />
                        </form>
                    </div>
                </div>

                <!-- ADD IMAGE MENU -->
                <div v-if="imageMenu" id="overlay">
                    <div id="photo">
                        <h4 @click="toggleImageMenu" id="xBtn">X</h4>
                        <img id="preview" src="./assets/add-image.png" alt="image preview" />
                        <form id="form" action="/image" method="post" enctype="multipart/form-data">
                            <input @change="setFile" type="file" name="file" required />

                            <input v-model="newImage.title" type="text" name="title" placeholder="Title" required />
                            <input v-model="newImage.description" type="text" name="description" placeholder="Description" required />
                            <input v-model="newImage.tags" type="text" name="tags" placeholder="Tags" required />
                            <input type="button" value="Upload" @click="upload" />
                        </form>
                    </div>
                </div>
            </header>

            <!-- Component -->
            <!-- <add-photo v-if="addingPhoto" @close-add="closeAddImage"> </add-photo> -->
            <select-photo v-if="selectedPhoto" @close-photo="deselectImage" v-bind:photo="selectedPhoto"> </select-photo>

            <!-- Image Board -->
            <div v-if="images" id="board">
                <div class="column">
                    <img v-for="image in images[0]" @click="selectImage(image.id)" class="image" v-bind:src="image.url" v-bind:alt="image.id" />
                </div>
                <div class="column">
                    <img v-for="image in images[1]" @click="selectImage(image.id)" class="image" v-bind:src="image.url" v-bind:alt="image.id" />
                </div>
                <div class="column">
                    <img v-for="image in images[2]" @click="selectImage(image.id)" class="image" v-bind:src="image.url" v-bind:alt="image.id" />
                </div>
            </div>

            <footer>
                <h3 @click="moreImages" v-if="moreButton" id="moreBtn" class="button">More</h3>
            </footer>
        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
    </body>
</html>
