* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    max-width: 100vw;
    margin: 0;
}

/* COMMON */
header {
    width: 100%;
    margin: 0;
    height: 60px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addBtn {
    background-color: whitesmoke;
    height: min-content;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

#logMenu {
    color: grey;
    margin: 10px 26px;
}

.button {
    cursor: pointer;
    color: grey;
}

.button:hover {
    color: black;
}

/* BODY */
#board {
    padding-top: 60px;
    margin: 0 24px;
    columns: 3;
    grid-column-gap: 24px;
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.column {
    display: grid;
    row-gap: 24px;
}

.image {
    object-fit: cover;
    width: 100%;
}

/* SELECT PHOTO */
#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
}

#photo {
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 2px;
}

#xBtn {
    position: relative;
    margin: 4px 7px;
    color: grey;
    cursor: pointer;
}

#image {
    margin: 0 26px;
    max-height: 80%;
    object-fit: cover;
}

#info {
    margin: 0 26px;
}

#stats {
    display: flex;
    justify-content: space-between;
}

/* ADD PHOTO */
/* #addMenu {
    padding: 20px;
    background-color: white;
    height: min-content;
} */

#preview {
    min-width: 400px;
    min-height: 625px;
    max-height: 625px;
    background-color: silver;
    margin: 0 26px;
}

#form {
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 26px;
}
